@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family= Oswald');

h3{
    font-family: Lobster;
}


#maintitle{
    font-color: blue;
    font-family: Lobster;
    font-size: 50px;
    text-align: center;
}

#map{
    height: 460px;
    width: 100%;
}
body{
    background-color: orange;
    position: absolute;
    z-index: -1;

}

/*profile*/
#name {
    margin-left: 20px;
}

#alltrips {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.trip {
    display: inline-block;
    margin-left: 20px;
    font-family: Arial;
}

/*nearby*/
/*#nearby {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    padding-top: 20px;
}

.place {
    display: inline-block;
    width: 165px; 
    margin: 10px;
}
.image {
    display: block;
    width: 100%;
}
.add {
    width: 20px;
}
.desciption {
    display: block;
}*/


/*map*/
.navbar{
    width: 100%;

    bottom: 0;
    position: fixed;

}

}
.navigator{
    display: inline-block;
    width: 24%;
    font-size: 20px;
    list-style: none;
    margin: none;
    padding: none;
    color: gray;
    background-color: gray;
    height: 150px;
}
.div{
    width: 10;
    text-align: center;
}
li {
    border-right: 1px solid black;
}
.nearby {
    display: inline-block;
}

.place1 {
    margin: auto;
    display: inline;
}

/*selection*/
#select{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 10px;
}
#search {
    font-size: 30px;
    font-family: Lobster;
    text-align: center;
    margin-bottom:20px;
    padding-top: none;
    width: 400px;
}
.checkbox {
    width: 400px;
    font-size: 30px;
    margin: 10px;
}
#submit {
    font-size: 30px;
    margin-left:130px;
    bottom: 10%;
}
/*GO/homepage*/
.navigator{

    display: inline-block;
    width: 23.2%;
    font-size: 20px;
    list-style: none;
    margin: none;
    padding: none;
    color: gray;
    background-color: gray;
    height: 100px;
    width:100%;

    margin-right: 0px;
}

.div{
    width: 10;
    text-align: center;
}


.icon{
    margin: 15px;
    display: inline-block;
    width:40px;
    height: 40px;
}
.select{
    margin: -2px;
    padding-top: none;
    padding-bottom: none;
    font-size: 20px;
    text-align: center;
}
.style-icon{
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #D7DAFF;
    margin: -8px;
    text-align: center;
    width: 23%;
    margin-top: 20px;
}
.GO{
    padding-top: none;
    padding-bottom: none;
    font-size: 20px;
    text-align: center;
    margin: -2px;
}