body{
	background-image: url('');
    overflow: scroll;
}
#nearby {
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    padding-top: 20px;
}

.place {
    display: inline-block;
    width: 46%; 
    margin: 5px;
    margin-bottom: 5px;
}
.image {
    display: block;
    width: 100%;
}
.add {
    width: 20px;
}
.desciption {
    display: block;
}

