@import url('https://fonts.googleapis.com/css?family= Oswald');

h1{
	font-family: Lobster;
	text-align: center;
	font-size: 30px;
    color: black;
}

#name{
	background-color: #DEB887;
	height: 100px;
	font-family: Oswald;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body{
	color: black;
}
#alltrips{
	font-size: 20px;
	color: black;
}
#nameui{
	font-family: Oswald;
	font-size: 20px;
	margin-left: 20px;
	color: black;
}
#email{
	font-family: Oswald;
	font-size: 20px;
	margin-left: 20px;
	color: black;
}
#signout{
	padding-left: 300px;
}

.navbar{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.style-icon{
    display: inline-block;
    padding-top: none;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #D7DAFF;
    margin: -8px;
    text-align: center;
    width: 23%;
    margin-top: 20px;
}