@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald');

#search{
	margin-bottom: 0px;
	margin-top: 0px; 
	padding: none;
	font-family: Lobster;
}

body{
	background-image: url("LILYY.jpg");
	width:50%;
	height: 100%;
	
}
#submit{
	margin-left: 40px;
	margin-top: 0px;
	padding-bottom: none;
	margin-bottom: -10px;
}

.selection{
	margin-left: 35px;
	margin-top: 5px;
	font-family: Oswald;
}


